
<body>
  <div class="container">
    <h1>Bienvenu Dans la Gestion Des Maisons</h1>

    <button class="btn-create"><a href="/creerMaison" style="color: white;">+ Créer une Maison</a></button>

    <table class="maison-table">
      <thead>
        <tr>
          <th>Adresse</th>
          <th>Superficie</th>
          <th>Quartier</th>
          <th>Catégorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>mendong</td><td>300 m²</td><td>odzoa</td><td>appartement</td><td><button class="btn modifier"><a href="/creerMaison" style="color: white;">Modifier</a></button><button class="btn supprimer"><a href="supprimerMaison" style="color: white;">Supprimer</a></button></td></tr>
        <tr><td>test</td><td>234 m²</td><td>odzoa</td><td>appartement</td><td><button class="btn modifier"><a href="/creerMaison" style="color: white;">Modifier</a></button><button class="btn supprimer"><a href="supprimerMaison" style="color: white;">Supprimer</a></button></td></tr>
      </tbody>
    </table>

    <button class="btn-retour"><a href="/connexion" style="color: white;">← Retour au tableau de bord</a></button>
  </div>
</body>

