<body>
    
<div class="container">
    <h1>Créer un Quartier</h1>
    <form id="formulaire">
        <label id="pa" for="nom">Nom:</label>
        <button id="poo">odzoa</button>

        <label id="pa1" for="nom">Description:</label>
        <button id="poo1">tres beau quartier</button>

        <label id="pa2" for="superficie">Superficie:</label>
        <button id="poo2">23000 </button>
        <p> en m²</p>

    </form>
    <button class="valider"><a href="/gererQuatier" style="color: white;">Valider</a></button>
    <button class="annuler"><a href="/gererQuatier" style="color: white;">Annuler</a></button>
    
</div>

</body>