
<body>
  <div class="container">
    <h1>Bienvenu Dans la Gestion Des Quartiers</h1>

    <button class="btn-create"><a href="/creerquatier" style="color: white;">+ Créer un Quartier</a></button>

    <table class="quartier-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Superficie</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>odzoa</td>
          <td>23000 m²</td>
          <td>tres beau quartier </td>
          <td>
            <button class="btn modifier"><a href="/creerquatier" style="color: white;">Modifier</a></button>
            <button class="btn supprimer"><a href="supprimerQuatier" style="color: white;">Supprimer</a></button>
          </td>
        </tr>
        <tr>
          <td>obili</td>
          <td>123456666 m²</td>
          <td>tres beau quartier</td>
          <td>
            <button class="btn modifier"><a href="/creerquatier" style="color: white;">Modifier</a></button>
            <button class="btn supprimer"><a href="supprimerQuatier" style="color: white;">Supprimer</a></button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn-retour"><a href="/connexion" style="color: white;">← Retour au tableau de bord</a></button>
  </div>
</body>


