
<body>
  <div class="container">
    <h1>Bienvenu Dans la Gestion Des categories</h1>

    <button class="btn-create"><a href="creerCategorie" style="color: white;">+ Ajouter une Catégorie</a></button>

    <table class="categorie-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>appartement</td>
          <td>
            <button class="btn modifier"><a href="/creerCategorie" style="color: white;">Modifier</a></button>
            <button class="btn supprimer"><a href="supprimerCategorie" style="color: white;">Supprimer</a></button>
          </td>
        </tr>
        <tr>
          <td>duplex</td>
          <td>
            <button class="btn modifier"><a href="/creerCategorie" style="color: white;">Modifier</a></button>
            <button class="btn supprimer"><a href="supprimerCategorie" style="color: white;">Supprimer</a></button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn-retour"><a href="/connexion" style="color: white;">← Retour au tableau de bord</a></button>
  </div>
</body>

