
<body>
  <div class="container">
    <h1>Créer une Maison</h1>
    <form id="formulaire">
      <label id="pa" for="adresse">Adresse:</label>
      <button id="poo">mendong</button>

      <label id="pa" for="superficie">Superficie:</label>
      <button id="poo">300 m²</button>

      <label id="pa" for="quartier">Quartier:</label>
      <button id="poo">odzoa</button>

      <label id="pa" for="categorie">Categorie:</label>
      <button id="poo">appartement</button>

      <button type="submit" class="valider"><a href="/gererMaison" style="color: white;">Valider</a></button>
      <button type="reset" class="annuler"><a href="/gererMaison" style="color: white;">Annuler</a></button>
    </form>
  </div>
</body>

