body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 80%;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}

#formulaire{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

#poo{
   
    padding-top: 7%;
    border-radius: 9px;
    width: 100%;
}

#paa {
    width: 100%;
    padding-block: 2%;
    border: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    margin-top: 9%;
   border-radius: 13px;

}
