<body>
    <div class="container">
        <h1>Étape 1</h1>

        <form id="formulaire">
            <label id="pa" for="nom">Nom:</label>
            <button id="poo"></button>
    
            <label id="pa" for="nom">Prenom:</label>
            <button id="poo"></button>
    
            <label id="pa" for="superficie">Genre:</label>
            <button id="poo"></button>

            <label id="pa" for="superficie">Date naissance:</label>
            <button id="poo"></button>
            
    
        </form>

        <button id="paa"><a href="/suivant" style="color: white;">Suivant</a></button>
    </div>
</body>